{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "config": "./src/server/config",
        "api": "./src/server/api",
        "models": "./src/server/models"
      }
    }]
  ]
}
